<h1>This is the Teachers' Rating Page</h1>


  <h2>Please Click on the name of a teacher below to see their comments and ratings page</h2>
  
  <ul> 

 <% @teacher_ratings.each do |teacher| %>
        <%
=begin%>
 "/teacher_ratings/#{teacher.id}" 
 language_teacher_path(teacher.id)
<%
=end%>
        <li><%= link_to teacher.language_teacher.name, teacher %></li>
        <%
=begin%>
 <li><%= link_to teacher.language_teacher.name, teacher_rating_path  %></li> 
<%
=end%>
       <% end %>       
</ul>






   

