<h1>This is the Teachers' Rating Page</h1>


  <h2>Please Click on the name of a teacher below to see their comments and ratings page</h2>
  
  <ul> 

 <% @teacher_ratings.each do |teacher| %>
        <li><%= teacher.language_teacher.name %></li>
        <li><%= link_to teacher.language_teacher.name, '/teacher_ratings/:id', to: 'teacher_ratings#show'  %></li>
       <% end %>       
</ul>






   

