<h1>This is the Teacher's Individual Rating Page</h1>

<p>Teacher's name:<%= @teacher_rating.language_teacher.name %></p>


<p>Here are the individual comments about this teacher:</p>
<p><%= @teacher_rating.comments %></p>


<div>
  Average Teacher Rating: <%= @average_teacher_rating %>
  </div>

  <p>Leave <%= link_to @teacher_rating.language_teacher.name, new_teacher_rating_path %> a new rating</p>