<h1>This is the Teacher's Individual Rating Page</h1>

<p>Teacher's name:</p>
<p>How many comments have been posted for this teacher: </p>
<p>This teacher's average rating</p>
<p>Here are the individual comments about this teacher:</p>