<h1>This is the LESSON INDEX page</h1>

<% @lessons.each do |lesson| %>
   <p>Lesson Date: <%= lesson.lesson_date %></p>
   <p>Teacher Name: <%= lesson.language_teacher.name %>
   <p>Language Taught: <%= lesson.language_teacher.language_taught %><br><br>
<% end %>