<h1>This is the LESSON SHOW page</h2>

<div>
<p>Lesson Date: <%= @lesson.lesson_date %></p>
<p> Hyperglot's name: <%= @lesson.hyperglot.name %></p>
<p> Language Teacher's name: <%= @lesson.language_teacher.name %></p>
<p> Language Studied: <%= @lesson.language_teacher.language_taught %></p>
</div>