<h1>This is an index of all the Language Teachers</h1>


<% @language_teachers.each do |teacher| %>

<p>Teacher's name:<%= link_to teacher.name, language_teacher_path(teacher) %>,
Language taught: <%= teacher.language_taught %></p>
<% end %>
