<h1>This is the Language Teacher's SHOW page</h1>

<p> Teacher's Name:
<%= @language_teacher.name %></p>

<p> Language taught: 
<%= @language_teacher.language_taught %></p>

<p>This teacher's average rating is: XXXX</p>