<h1>Enjoy reading the study comments!</h1>
<p>Would you like to write a comment about what you're 
    studying or ask the community a question?</p>

<h1 class="links"><%= link_to "You can write a new comment by clicking here...", new_study_comment_path %></h1>

 <div>
   <% @study_comments.each do |comment| %>
    <p>
      <%= comment.comments %>
    </p>
       
      <%if comment.hyperglot and comment.hyperglot.name %>
        <p><%= comment.hyperglot.name %></p> <br>
      <% end %>


   <% end %>


 </div>