<h1>Here are all the study comments:</h1>

 <div>
   <% @study_comments.each do |comment| %>
    <p>
      <%= comment.comments %>
    </p>
       
      <%if comment.hyperglot and comment.hyperglot.name %>
        <p><%= comment.hyperglot.name %></p> <br>
      <% end %>


   <% end %>


 </div>